/*all text set to cursive, sets background and text color*/
* {
  background-color: #9fa9a3;
  font-family: cursive;
  text-emphasis: bold;
 color: rgb(2, 2, 82);
 
}
/*list free of bullet points and working from left margin */
.ul1  {
  display: inline-flex;
  list-style-type: none;
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: left;
 
}
.ul2 {
  display: inline-flex;
  list-style-type: none;
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: left;
}

/*all three headers should get smaller from h1 down*/
h1 {
font-size: 40px;
}
h2 {
  
  font-size: 35px;
}

h3 { 
 
  font-size: 30px;
}
 /*inline photo at 50% its original size */
#oldpic {
    inline-size: 50%;
display: flex;
  }

 
.about{
  display: inline-flex;
  text-align: center;
}

/*when screen is smaller than 780px ul2 stacks*/
@media screen and (max-width: 780px) {
  .ul2 {
    
    display: inline-block;
  }
}

